
<a href="https://external-preview.redd.it/S1CeDg-OOqSgFWdi3ODJVobb34Wdu83q4eqYBgb6VWE.gif?width=480&format=mp4&s=4018c477c8384e4b8e1432abe44d9267d0934e44"><H2>How I feel about Django.</H2></a>
{% if greeting_list %}
    <ul>
    {% for greeting in greeting_list %}
        <li>
          {{ greeting.message }}
          <span><a href="{% url 'greetings:update' greeting.id %}">edit</a></span>
          <span><a href="{% url 'greetings:delete' greeting.id %}">delete</a></span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No greetings are available.</p>
{% endif %}
<!-- <a href="{% url 'greetings:create' %}">Create a New Greeting</a> -->


<a href = "https://external-preview.redd.it/wm6VaP3dyl91AdoUMXH2-wx0RkLZqhsIssb4BVHDEas.gif?format=mp4&s=97ebb6c6703ef540baee0aac3fc232f0fd213aa3"> But I did it.</a>